[Unit]
Description=Serial/Unix Domain socket comunication
After=network.target
StartLimitIntervalSec=4

[Service]
Type=simple
Restart=always
RestartSec=2
User=www-data
ExecStart=/usr/bin/env python3 /home/pi/PiGro/python_src/comunication.py

[Install]
WantedBy=multi-user.target
