body {
  margin: 0;
  padding: 0;
  background-color: #fcf9e2;
  color: #566E74;
}

#main {
  margin: 1em;
  padding: 1em;
  justify-content: center;
  text-align: center;
}

nav {
  margin: 0;
  padding: 0;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #edebd4;
}

nav>ul>li {
  float: left;
}

nav>ul>li>a {
  display: block;
  color: #7957c7;
  padding: 14px 16px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}

nav>ul>li.active {
	background-color: #fcf9e2;
}

