#charts {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* column-gap: 5%; */
  margin: 0;
  /* justify-content: center; */
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: #FDF9E4;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  box-shadow: 0.2em 0.2em 0.1em;
}

.charts {
  box-shadow: 0.4em 0.4em 0.2em;
  margin: 1em auto;
  background-color: #edebd4;
  padding: 0;
  max-width: fit-content;
  border-radius: 10px;
}

#temp_graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#temp_radio {
  width: 100%;
  margin: 0.5em;
  text-align: center;
}

#curr_data {
  grid-column: 1 / span 2;
}

#curr_data>span {
  margin: 1em;
}
